[Desktop Entry]
Type=Application
Name=GoPro Webcam
GenericName=Webcam
Comment=Use a GoPro connected over USB as a webcam
Exec=gpwebcam launch
Icon=gpwebcam
Terminal=false
StartupNotify=false
Categories=AudioVideo;Video;
Keywords=gopro;webcam;camera;gpwebcam;
